autoattack==0.1
einops==0.4.1
folder==0.0.1
h5py==3.7.0
matplotlib==3.5.3
numpy==1.23.3
pandas==2.2.2
Pillow==9.2.0
Pillow==10.3.0
pycountry==22.3.5
scipy==1.9.1
setuptools==68.0.0
torch==2.0.1
torchvision==0.15.2
tqdm==4.64.1
vision==1.0.0
